
*{
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.8;
}

.text-orange{
    color: #f89d35
}

.bg-orange{
    background-color: #f89d35
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
 ul.list-inline li{
    padding: 5px 10px;
}

header ul.list-inline li:hover{
    color: #f89d35
}
.donate:hover{
    background-color: #863bae;
}

.navbar a{
    color: black !important;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 1rem !important;
}
a.nav-link:hover{
    color: #f89d35 !important;
    transition: all .2s ease;
    
}

ul .dropdown-menu:hover{
    display: inline-block;
}

.dropdown-item{
    padding: .8rem 6rem;
}

.dropdown-item:hover{
    background-color: #f89d35;
    color: white !important; 
    transition: all .2s ease;
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 35rem;
}

main .banner button:hover{
    background-color: #863bae;
    color:white;
    border:#863bae;
    transition: all .2s ease;
}

.heading{
    font-family: 'Bitter', serif;
}

main .banner-text button{
    padding: 15px 20px; 
    font-weight: bold;
}
main .banner-text button:hover{
        background-color: #863bae;
        color:white;
        border:#863bae;
        transition: all .2s ease;
}

.cards:hover{
    box-shadow: 0px 0px 10px 1px rgb(183, 183, 183);
    border-radius: 5px;
}

h4{
    font-family: 'Bitter', serif;
}
.video-img{
    background-image: url(../images/bg-3.jpg);
    background-size: cover;
    height: 30rem;
}

.play-icon{
    border-radius: 50%;
}
.video{
    position: relative;
}

.video::before{
    position: absolute;
    content: "";
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.95);
    width: 60%;
    height: 100%;
    z-index: -1;
}
.number{
    font-size: 70px;
    font-weight: 700;
}

.text h4:hover{
    color:#f89d35;
    transition: all .2s ease-in;
}

.text button:hover{
    background-color: #863bae;
    color:white;
    border:#863bae;
    transition: all .2s ease;
}

footer button:hover{
    background-color: #863bae !important;
    color:white;
    border: 1px solid#863bae;
    transition: all .2s ease;
}

.gem{
    height: 35rem;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/bg-3.jpg);
}

footer .hover i{
    border: 1px solid #919191;
}
footer .hover i:hover{
    background-color: #f89d35;
    border: 1px solid #f89d35;
    transition: all .2s ease;
}

.h4{
    font-family: 'Bitter', serif;   
}
.h4{
    font-family: 'Bitter', serif;   
}

.form-control{
    border: 1px solid rgba(255, 255, 255, 0.06);
    background: transparent;
}

.clients-wrap a {
    margin-bottom: 20px;
    display: inline-block;
    width: 29%;
}

.purBack::before{
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    width: 47%;
    height: 100%;
    background: #863bae;
    z-index: -1;
}
.forms{
    position: relative;
}

.form-control {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    padding-left: 20px;
    background: #f7f9f3;
    border-radius: 3px;
    margin-bottom: 12px;
}

.volunteer-form a:hover{
    background-color: #863bae !important;
    color:white;
    border: 1px solid #f89d35;
    transition: all .2s ease;   
}