.text-orange{
    color: #f89d35
}

.bg-orange{
    background-color: #f89d35
}


body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
ul.list-inline li{
    padding: 5px 10px;
}

ul.list-inline li:hover{
    color: #f89d35
}
.donate:hover{
    background-color: #863bae;
}

.navbar a{
    color: black !important;
    font-size: 1rem;
    font-weight: bolder;
    padding-left: 1rem !important;
}
a.nav-link:hover{
    color: #f89d35 !important;
    transition: all .2s ease;
    
}

ul .dropdown-menu:hover{
    display: inline-block;
}

.dropdown-item{
    padding: .8rem 6rem;
}

.dropdown-item:hover{
    background-color: #f89d35;
    color: white !important; 
    transition: all .2s ease;
}

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    height: 35rem;
}

main .banner button:hover{
    background-color: #863bae;
    color:white;
    border:#863bae;
    transition: all .2s ease;
}
